<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SEARCH</title>
</head>
<body>

<form  th:action="@{/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Recipe Name or Tag" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Clear</button>
</form>

Logged as <p sec:authentication="name"/>

<td><a th:href="@{/logout}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" >Logout</a></td>
<div sec:authorize="hasRole('ROLE_ADMIN')">
<td><a th:href="@{admin/recipes/create}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" >Add recipe</a></td>
</div>

<table class="table table-bordered table-sm mt-2">
    <thead>
    <tr>
        <th>RecipeName</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Directions</th>
        <th>Tag</th>
        <th>ReleaseDate</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.recipeName}"/>
        <td th:text="${recipe.description}"/>
        <td th:text="${recipe.ingredients}"/>
        <td th:text="${recipe.directions}"/>
        <td th:text="${recipe.tag}"/>
        <td th:text="${recipe.releaseDate}"/>


        <td><a th:href="@{/recipes/{id}/(id=${recipe.id})}"><i class="fa fa-info" ></i></a></td>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <td><a th:href="@{admin/recipes/edit/{id}/(id=${recipe.id})}"><i class="fa fa-edit" ></i></a></td>
        <td><a th:href="@{admin/recipes/delete/{id}/(id=${recipe.id})}"><i class="fa fa-remove"></i></a></td>
        </div>
    </tr>
    </tbody>
</table>
</body>
</html>