<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <title>Recipe details</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="./recipe-list.html"><img src="../assets/CookBookLogo.jpg" alt="CookBookLogo" style="height: 150px;"></a></li>
    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Directions</th>
        <th scope="col">Tag</th>
        <th scope="col">Data</th>

    </tr>
    </thead>
    <tbody>
    <td th:text="${recipe.recipeName}"/>
    <td th:text="${recipe.description}"/>
    <td th:text="${recipe.ingredients}"/>
    <td th:text="${recipe.directions}"/>
    <td th:text="${recipe.tag}"/>
    <td th:text="${recipe.releaseDate}"/>
    </tbody>
</table>

<td><a th:href="@{/recipes/{id}/comments/create(id=${recipe.id})}">Add comment</a> </td>
<td><a th:href="@{/recipes/{recipeId}/comments(recipeId=${recipe.id})}">View comments</a> </td>
<a th:href="@{/}">Return to recipe list</a>

</body>
</html>