<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
    <title>Recipe edit</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="./recipe-list.html"><img src="./assets/CookBookLogo.jpg" alt="CookBookLogo" style="height: 150px;"></a></li>
    </ul>
</nav>

<form method="post" th:action="@{admin/recipes/update}" th:object="${recipe}">

    <input type="hidden" th:field="*{id}"/>

    <label>
        Name:
        <input type="text" th:field="*{recipeName}"/>
    </label>

    <label>
        Description:
        <input type="text" th:field="*{description}"/>
    </label>

    <label>
        Ingredients:
        <input type="text" th:field="*{ingredients}"/>
    </label>

    <label>
        Directions:
        <input type="text" th:field="*{directions}"/>
    </label>

    <label>
        Directions:
        <input type="text" th:field="*{releaseDate}"/>
    </label>

    <button type="submit">Update recipe</button>

</form>

</body>
</html>